.home-container {
  width: 80vw;
  height: 70vh;
  position: relative;
  margin: 4vh 13vw;
  border: 1px solid white;
  background-color: wheat;
  display: flex;

  .login-left {  
    position: relative;
    margin: 5px 10px;
    width: 49%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: left;

    .form-check {
      margin-bottom:  30px;
      
      label {
        color: black;
      }
    }

    button {
      margin: 10px;
      padding: 5px 20px;
      font-size: 20px;
      line-height: 25px;
      border-color: #00000020;
      background-color: #ffffff20;
      color: black;
      border-radius: 5px; 
      cursor: pointer;
    }

    button:hover {
      background-color: limegreen;
    }

  }
  .error {
    font-size: 0.8rem;
    color: #bb0000;
  }

  .login-right {
    // z-index: 1;
    width: 50%;
    height: 100%;
    position: absolute;
    float: right;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#b87373;
    justify-content: center;
    color:darkslateblue;
    // opacity: 1;
    
    // .bg-div {
    //   background-image: url('../assets/images/01.jpg');    
    //   opacity: 0.5;
    //   position: absolute;
    //   width: 100%;
    //   height: 100%;

    // }
    h3{
      color: darkslateblue;
    }

    p {
      font-size: 40px;
      line-height: 50%;
      margin: 20px;
      font-weight: 400;
      font-family: elephant;
      font-variant: small-caps;
    }

    span {
      margin-bottom: 40px;
    }

    .login-right-sub {
      width: 70%;
      text-align: center;
      margin-bottom: 30px;

      a {
        font-size: larger;
        font-weight: 400;
        font-family: monospace;
        text-decoration: none;
        // border: 1px solid white;
        margin: 5px;
        color: black;
        
      }

      a:hover {
        color: limegreen;
      }
    }
  }

  //--------------------------

  .register-right {
    // z-index: -2;
    position: relative;
    margin: 5px 10px;
    width: 49%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: left;   

    button {
      margin: 10px;
      padding: 5px 20px;
      font-size: 20px;
      line-height: 25px;
      border-color: #00000020;
      background-color: #ffffff20;
      color: black;
      border-radius: 5px; 
      cursor: pointer;
    }

    button:hover {
      background-color:limegreen;
    }

  }

  .register-left {
    // z-index: -2;
    width: 50%;
    height: 100%;
    position: absolute;
    float: right;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #b87373;
    color:darkslateblue;

    h3 {
      color: darkslateblue;
    }

    p {
      font-size: 40px;
      line-height: 50%;
      margin: 20px;
      font-weight: 400;
      font-family: elephant;
      font-variant: small-caps;
    }

    span {
      margin-bottom: 40px;
    }

    .login-right-sub {
      width: 70%;
      text-align: center;
      margin-bottom: 30px;

      a {
        font-size: larger;
        font-weight: 400;
        font-family: monospace;
        text-decoration: none;
        // border: 1px solid white;
        margin: 5px;
        color: black;
        
      }

      a:hover {
        color: limegreen;
      }
    }
  }
}